project_report/sodium-report.aux
project_report/sodium-report.bbl
project_report/sodium-report.blg
project_report/sodium-report.fdb_latexmk
project_report/sodium-report.fls
project_report/sodium-report.log
project_report/sodium-report.out
project_report/sodium-report.pdf
project_report/sodium-report.synctex.gz
project_report/sodium-report.toc
project_report/.sodium-report.tex.swp
.gitignore.swp
project_report/figures/rust_drawings/Cargo.lock
project_report/figures/rust_drawings/src/.main.rs.swp
project_report/figures/rust_drawings/target/
