project_report/sodium-report.aux
project_report/sodium-report.bbl
project_report/sodium-report.blg
project_report/sodium-report.fdb_latexmk
project_report/sodium-report.fls
project_report/sodium-report.log
project_report/sodium-report.out
project_report/sodium-report.pdf
project_report/sodium-report.synctex.gz
project_report/sodium-report.toc
project_report/.sodium-report.tex.swp
.gitignore.swp
project_report/figures/rust_drawings/Cargo.lock
project_report/figures/rust_drawings/src/.main.rs.swp
project_report/figures/rust_drawings/target/
*.*.swp
project_presentation/sodium-presentation.aux
project_presentation/sodium-presentation.fls
project_presentation/sodium-presentation.log
project_presentation/sodium-presentation.nav
project_presentation/sodium-presentation.out
project_presentation/sodium-presentation.pdf
project_presentation/sodium-presentation.snm
project_presentation/sodium-presentation.synctex.gz
project_presentation/sodium-presentation.toc
project_presentation/sodium-presentation.fdb_latexmk
project_presentation/sodium-presentaton-notes.aux
project_presentation/sodium-presentation-notes.fdb_latexmk
project_presentation/sodium-presentation-notes.fls
project_presentation/sodium-presentation-notes.log
project_presentation/sodium-presentation-notes.pdf
project_presentation/sodium-presentation-notes.synctex.gz
project_presentation/sodium-presentation-notes.aux
project_presentation/sodium-report-1.asy
project_presentation/sodium-report.pre
